body {
}
.page {
	background-color:white;
	padding:0 20px;
}


.intro,.toc,.main,.category,.back { 
	page-break-before: always; 
}

.front,.intro,.back {
	padding:400px 0; 
	text-align:center
}
.front-title {
	font-size:300%
}

.intro {
	margin:auto;
	width:400px;
}

.toc {
	margin: 20px 10px; 
	border-top:2px solid silver;
	border-bottom:2px solid silver;
}
.toc-entry {}

.toc-entry a, .toc-cat {
	text-decoration:none; 
	font-weight:bold
}

.cat-title {
	font-size:200%; 
}

.questions {}
.question-title, .toc-title {font-weight:bold; font-size:150%; margin:10px 0;}
.question-title a { color:black;}

.top-link{font-size:50%; color:green !important;}

.question {border-bottom:1px solid silver; margin:20px 0 0 20px}
.question-content {margin-bottom:20px;}

.answers {margin-left:20px}
.answer {border-top:1px dashed silver;margin-bottom:10px; padding:10px 0;}

.back {}
